{
  "rules": {
    "orders": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "payPartners": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "seller_users": {
      // Admins can read/write all seller documents
      ".read": "auth != null",
      ".write": "auth != null",
      // A user can create their own seller document upon signup
      "/{userId}": {
        "allow create": "request.auth != null && request.auth.uid == userId"
      }
    },
    "topUpRequests": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "cashCodes": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "shakti_cards": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "payment_info": {
      ".read": "auth != null",
      ".write": "auth != null"
    },
    "logisticsPartners": {
      ".read": "auth != null",
      ".write": "auth != null"
    }
  }
}